<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.isolation">2</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="javax.persistence.validation.mode">none</property>
		<property name="format_sql">true</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="use_identifier_rollback">true</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">2000</property>
		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.acquire_increment">2</property>
		<property name="c3p0.max_statements">10</property>
		<property name="hibernate.jdbc.fetch_size">100</property>
		<property name="jdbc.batch_size">30</property>
		<!-- <mapping resource="com/hibernate/tutorialspoint/model/Employee.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/helloworld/News.hbm.xml" /> -->
		<!-- <mapping resource="com/hibernate/guigu/helloworld/Worker.hbm.xml" 
			/> -->

		<!-- <mapping resource="com/hibernate/guigu/n21/model/Customer.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/n21/model/Order.hbm.xml" /> -->

		<!-- <mapping resource="com/hibernate/guigu/n21/both/model/Customer.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/n21/both/model/Order.hbm.xml" 
			/> -->

		<!-- <mapping resource="com/hibernate/guigu/one2one/foreign/Department.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/one2one/foreign/Manager.hbm.xml" 
			/> -->

		<!-- <mapping resource="com/hibernate/guigu/one2one/primary/Department.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/one2one/primary/Manager.hbm.xml" 
			/> -->
		<!-- <mapping resource="com/hibernate/guigu/n2n/Category.hbm.xml" /> -->
		<!-- <mapping resource="com/hibernate/guigu/n2n/Item.hbm.xml" /> -->
		<!-- <mapping resource="com/hibernate/guigu/joined/subclass/Person.hbm.xml" 
			/> -->
<!-- 		<mapping resource="com/hibernate/guigu/strategy/Customer.hbm.xml" /> -->
<!-- 		<mapping resource="com/hibernate/guigu/strategy/Order.hbm.xml" /> -->
			<mapping resource="com/hibernate/guigu/subclass/Person.hbm.xml"/>

	</session-factory>
</hibernate-configuration>
